spring:
  datasource:
    url: jdbc:h2:~/oing;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;
    username: sa
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        create_empty_composites:
          enabled: true
        show_sql: true
        format_sql: true
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
app:
  web:
    url-whitelists:
      - /actuator/**
      - /swagger-ui.html
    header-names:
      access-token: X-AUTH-TOKEN
