spring:
  datasource:
    url: jdbc:h2:~/oing;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;
    username: sa
    password: ''
  flyway:
    enabled: false
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        create_empty_composites:
          enabled: true
        show_sql: false
        format_sql: false
        dialect: org.hibernate.dialect.MySQL8Dialect
    database-platform: org.hibernate.dialect.MySQL8Dialect
  data:
    redis:
      host: localhost
      port: 16379
app:
  external-urls:
    slack-webhook: https://www.naver.com # Must Be Replaced
  token:
    secret-key: thisiskeyfortestpurpose0101010101010thisiskeyfortestpurpose0101010101010
    expiration:
      access-token: 86400000
      refresh-token: 384000000
  web:
    versionFilterEnabled: false
    url-whitelists:
      - /actuator/**
      - /swagger-ui.html
    url-no-logging:
      - /swagger-ui.html
    header-names:
      access-token: X-AUTH-TOKEN
      proxy-forward-header: X-FORWARDED-FOR
      app-version-header: X-APP-VERSION
      platform-header: X-USER-PLATFORM
      userid-header: X-USER-ID
      appkey-header: X-APP-KEY

logging:
  level:
    com.oing: DEBUG

cloud:
  ncp:
    region: test
    end-point: test
    access-key: access-key
    secret-key: secret-key
    storage:
      bucket: bucket
    image-optimizer-cdn: https://cdn.com
