spring:
  datasource:
    hikari:
      auto-commit: false
      pool-name: bbibbi-sql-pool
      minimum-idle: 15
      maximum-pool-size: 30
      connection-timeout: 60000
      max-lifetime: 1800000
      idle-timeout: 60000
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        create_empty_composites:
          enabled: true
        show_sql: false
        format_sql: false
  flyway:
    enabled: true
    baseline-on-migrate: true
  h2:
    console:
      enabled: false
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

logging:
  pattern:
    console: "%X{requestId} %clr([${LOG_LEVEL_PATTERN:%5p}]) %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"
  level:
    com.oing: INFO

springdoc:
  api-docs:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

sentry:
  environment: production
  logging:
    enabled: true
    minimum-event-level: info
    minimum-breadcrumb-level: info
  dsn: ${SENTRY_PROD_DSN:}
  # Set traces-sample-rate to 1.0 to capture 100% of transactions for performance monitoring.
  # We recommend adjusting this value in production.
  traces-sample-rate: 0.8
