spring:
  datasource:
    url: jdbc:h2:~/oing;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;
    username: sa
    password: ''
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        create_empty_composites:
          enabled: true
        show_sql: true
        format_sql: true
app:
  oauth:
    google-client-id: ${GOOGLE_CLIENT_ID}
  web:
    versionFilterEnabled: false
  external-urls:
    slack-webhook: ${SLACK_WEBHOOK_URL} # Must Be Replaced
  token:
    secret-key: ${TOKEN_SECRET_KEY} # Must Be Replaced

cloud:
  ncp:
    region: ${OBJECT_STORAGE_REGION}
    end-point: ${OBJECT_STORAGE_END_POINT}
    access-key: ${OBJECT_STORAGE_ACCESS_KEY}
    secret-key: ${OBJECT_STORAGE_SECRET_KEY}
    image-optimizer-cdn: ${IMAGE_OPTIMIZER_CDN_URL}
    storage:
      bucket: ${OBJECT_STORAGE_BUCKET_NAME}
