name: 서비스 배포
on:
  workflow_call:
    secrets:
      REMOTE_SSH_HOST:
        required: true
      REMOTE_SSH_USERNAME:
        required: true
      REMOTE_SSH_KEY:
        required: true
      REMOTE_SSH_PASSPHRASE:
        required: true
      REMOTE_SSH_PORT:
        required: true
    inputs:
      environment:
        required: true
        type: string
      image-tag:
        required: true
        type: string
      spring-profile:
        required: true
        type: string
      image-name:
        required: true
        type: string

env:
  IMAGE_TAG: ${{ inputs.image-tag || 'latest' }}
  ACTIVE_PROFILE: ${{ inputs.spring-profile || 'local' }}

jobs:
  deploy:
    runs-on: [ ubuntu-latest ]
    name: 서비스 배포하기
    environment: ${{ inputs.environment }}

    permissions:
      id-token: write
      contents: read

    steps:
      - name: GitHub 에서 레포 받아오기
        uses: actions/checkout@v3

      - name: 배포 스크립트 실행
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_SSH_HOST }}
          username: ${{ secrets.REMOTE_SSH_USERNAME }}
          key: ${{ secrets.REMOTE_SSH_KEY }}
          password: ${{ secrets.REMOTE_SSH_PASSPHRASE }}
          port: ${{ secrets.REMOTE_SSH_PORT }}
          script: |
            docker service update --image ${{ inputs.image-name }}:${{ inputs.image-tag }} be-prod-was
